<%= @attacker.name %> attacked <%= @defender.name %>

<br>

<%= @game.player_1.name %> <%= @game.player_1.hit_points%> <%= @game.player_2.name %> <%= @game.player_2.hit_points%>

<br>

<a href="/attack">Attack-Player!</a>
